:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.content {
  height: 100%;
  padding: 2rem;
  padding-top: 0rem;
}

.title {
  width: 100;
  text-align: center;
}

.path-button-pair {
  display: flexbox;
  flex-direction: column;
}

.box-row> :not(:first-child) {
  margin-left: 1rem;
}

.vertical-box {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.filler {
  flex-grow: 1;
}

.scroll-box {
  overflow-y: auto;
}